<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <link rel="icon" type="image/x-icon" href="{% static 'img/MAYOR.png' %}">
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'modules/fontawesome/css/all.min.css' %}">
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'modules/bootstrap-social/bootstrap-social.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.css' %}">
  <title>{% block titulo %}{% endblock %} - Fundación Apoyo</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
<!-- General JS Scripts -->
<script src="{% static 'modules/jquery.min.js' %}"></script>
<script src="{% static 'modules/popper.js' %}"></script>
<script src="{% static 'modules/tooltip.js' %}"></script>
<script src="{% static 'modules/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'modules/moment.min.js' %}"></script>
<script src="{% static 'js/stisla.js' %}"></script>

<!-- Template JS File -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>